@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-color: rgb(32, 76, 197);
  --secondary-color: rgb(217, 224, 242);
  --primary-color-70: rgba(32, 76, 197, 70%);
  --primary-color-30: rgba(32, 76, 197, 30%);
  --primary-color-10: rgba(32, 76, 197, 10%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
}

body {
  background: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: full;
  background: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 999;
}

header .header-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-container .logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

header .header-container .button-container {
  display: flex;
  gap: 0.5rem;
}

header .button-container button {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem;
  border: 0.1rem transparent solid;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: ease-in-out 300ms;
}

header .button-container button:hover {
  background: rgba(255, 255, 255, 0.3);
}

header .button-container button:active {
  background: rgba(255, 255, 255, 0.5);
  scale: 0.9;
}

header .button-container button.filled {
  background: white;
  color: var(--primary-color);
}

header .button-container button.filled:hover {
  background: rgba(255, 255, 255, 0.7);
}

header .button-container button.filled:active {
  background: rgba(255, 255, 255, 0.5);
  scale: 0.9;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  gap: 1rem;
}

.left {
  font-weight: 700;
  width: 50%;
}

.left h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

.left span {
  border-bottom: 0.5rem var(--primary-color) solid;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.right a {
  width: 50%;
}

.right button {
  font-weight: 700;
  color: var(--primary-color);
  padding: 0.5rem;
  border: 0.15rem transparent solid;
  border-radius: 0.5rem;
  background: var(--primary-color-10);
  cursor: pointer;
  transition: ease-in-out 300ms;
  font-size: 1.2rem;
  width: 100%;
}

.right button:hover {
  background: var(--primary-color-30);
}

.right button:active {
  background: var(--primary-color-10);
  scale: 0.9;
}

.right button.filled {
  background: var(--primary-color);
  color: white;
}

.right button.filled:hover {
  background: var(--primary-color-70);
}

.right button.filled:active {
  background: var(--primary-color);
  scale: 0.9;
}

.right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.right form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.right form label {
  font-weight: 700;
  font-size: 1rem;
}

.right form input {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 100%;
  border: transparent;
}

.right .after-form a {
  color: var(--primary-color);
  text-decoration: underline;
}
